In [16]:
import pandas as pd
import numpy as np
import tensorflow as tf

df = pd.read_csv('athlete_events.csv')

In [2]:
list(df)

['ID',
 'Name',
 'Sex',
 'Age',
 'Height',
 'Weight',
 'Team',
 'NOC',
 'Games',
 'Year',
 'Season',
 'City',
 'Sport',
 'Event',
 'Medal']

In [17]:
df_filtered = df[['Name','Sport','Height','Weight','Sex']]

In [28]:
df_grouped = df_filtered.dropna().groupby('Name').first().reset_index()
df_grouped.shape

(99041, 5)

In [29]:
df_grouped.head(10)

                                      Name       Sport  Height  Weight Sex
0                                   Th Anh     Fencing   165.0    58.0   F
1                              Th Ngn Thng  Gymnastics   147.0    47.0   F
2                                  Tin Tun      Boxing   173.0    63.0   M
3                                A Dijiang  Basketball   180.0    80.0   M
4                                 A Lamusi        Judo   170.0    60.0   M
5                          A. Abdul Razzak   Athletics   178.0    70.0   M
6  A. J. Tyronne Benildus "Benny" Fernando   Athletics   179.0    70.0   M
7                    A. Joshua "Josh" West      Rowing   207.0   105.0   M
8                    A. W. Nancy "Nan" Rae    Swimming   156.0    53.0   F
9                     Aadam Ismaeel Khamis   Athletics   172.0    67.0   M

In [31]:
len(df_grouped.Sport.unique())

55

In [35]:
df_one_hot_encode = pd.get_dummies(df_grouped.Sport,prefix='sport', drop_first=True)

In [40]:
df_one_hot_encode['Height'] = df_grouped.Height
df_one_hot_encode['Weight'] = df_grouped.Weight
df_one_hot_encode['Sex'] = df_grouped.Sex

In [41]:
df_one_hot_encode

,sport_Archery,sport_Art Competitions,sport_Athletics,sport_Badminton,sport_Baseball,sport_Basketball,sport_Beach Volleyball,sport_Biathlon,sport_Bobsleigh,sport_Boxing,...,sport_Trampolining,sport_Triathlon,sport_Tug-Of-War,sport_Volleyball,sport_Water Polo,sport_Weightlifting,sport_Wrestling,Height,Weight,Sex
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,165.0,58.0,F
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,147.0,47.0,F
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,173.0,63.0,M
3,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,180.0,80.0,M
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,170.0,60.0,M
5,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,178.0,70.0,M
6,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,179.0,70.0,M
7,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,207.0,105.0,M
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,156.0,53.0,F
9,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,172.0,67.0,M
10,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,179.0,70.0,M
11,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,181.0,64.0,F
12,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,172.0,70.0,M
13,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,185.0,68.0,M
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,181.0,62.0,M
15,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,177.0,67.0,M
16,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,183.0,85.0,F
17,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,155.0,43.0,F
18,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,179.0,75.0,F
19,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,180.0,82.0,M
20,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,191.0,88.0,M
21,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,182.0,80.0,M
22,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,180.0,72.0,M
23,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,179.0,66.0,M
24,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,160.0,57.5,M
25,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,174.0,67.0,M
26,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,171.0,63.0,M
27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,192.0,88.5,M
28,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,184.0,81.0,M
29,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,183.0,80.0,M
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99011,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,178.0,70.0,F
99012,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,173.0,72.0,F
99013,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,183.0,67.0,F
99014,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,170.0,59.0,F
99015,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,154.0,39.0,F
99016,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,160.0,59.0,F
99017,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,171.0,62.0,F
99018,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,169.0,63.0,F
99019,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,160.0,50.0,F
99020,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,175.0,73.0,M
99021,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,185.0,72.0,M
99022,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,172.0,64.0,M
99023,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,179.0,73.0,M
99024,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,170.0,68.0,M
99025,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,193.0,90.0,M
99026,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,181.0,83.0,M
99027,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,177.0,94.0,M
99028,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,181.0,83.0,M
99029,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,188.0,80.0,M
99030,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,185.0,73.0,M
99031,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,190.0,89.0,M
99032,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,178.0,58.0,M
99033,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,166.0,50.0,F
99034,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,180.0,72.0,M
99035,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,166.0,60.0,F
99036,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,183.0,70.0,F
99037,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,165.0,47.0,F
99038,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,168.0,72.0,M
99039,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,178.0,74.0,M
99040,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,172.0,85.0,M

In [45]:
df_one_hot_encode.loc[df_one_hot_encode.Sex.isin(['M']),'sex']= 0
df_one_hot_encode = df_one_hot_encode.drop(columns='Sex')

In [49]:
df_one_hot_encode.shape[0]

99041

In [57]:
NUM_INPUTS = df_one_hot_encode.shape[0]
train_data = df_one_hot_encode[:95000]
test_data = df_one_hot_encode[95000:]

In [58]:
df_one_hot_encode.head(5)

,sport_Archery,sport_Art Competitions,sport_Athletics,sport_Badminton,sport_Baseball,sport_Basketball,sport_Beach Volleyball,sport_Biathlon,sport_Bobsleigh,sport_Boxing,...,sport_Trampolining,sport_Triathlon,sport_Tug-Of-War,sport_Volleyball,sport_Water Polo,sport_Weightlifting,sport_Wrestling,Height,Weight,sex
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,165.0,58.0,1.0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,147.0,47.0,1.0
2,0,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,173.0,63.0,0.0
3,0,0,0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,180.0,80.0,0.0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,170.0,60.0,0.0